*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}


.header-css {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1600px;
    height: 80px;
    background-color: #FFFFFF;
    margin-bottom: 1px;
}

.logo-css {
    margin-left: 150px;
    margin-right: 90px;
}


.nav-css .list  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-right: 330px;
    padding-inline-start: 0;
}

.mail-tel-css .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    padding-inline-start: 0;
}

.logo-blue {
        font-family: 'Raleway';
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            color: #2196F3;
            text-decoration: none;
}

.logo-black {
    font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: black;
        text-decoration: none;
        margin-left: -6px;
}

.logo-white {
        font-family: 'Raleway', sans-serif;
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            text-decoration: none;
            margin-left: -6px;
}

.header-list {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-list {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-list.studio.active {
    position: relative;
}

.header-list.studio.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list.studio.active:hover::after {
    opacity: 1;
}

.header-list.portfolio.active {
    position: relative;
}



.header-list.portfolio.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-list.portfolio.active:hover::after {
    opacity: 1;
}

.header-list-mail {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list:focus,
.header-list:hover {
    color: #2196F3;
}


.header-list-mail:focus,
.header-list-mail:hover {
    color:#2196F3;
}

.header-list-phone:focus,
.header-list-phone:hover {
    color: #2196F3;
}

.svg-mail {
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-phone {
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-phone:focus .svg-phone,
.header-list-phone:hover .svg-phone {
    fill: #2196F3;
}

.header-list-mail:focus .svg-mail,
.header-list-mail:hover .svg-mail {
    fill: #2196F3;
}

.title {
    font-family: 'Roboto';
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
}

.main-section {
    max-width: 1600px;
    padding: 1px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/img20.jpg);
}


.title-main {
    font-family: 'Roboto';
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}


.main-title {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    height: 125px;
    margin: 200px auto 30px;

}

.main-text {
    margin: 200px auto;
}

.main-btn {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    padding: 10px 32px;
    margin-bottom: 200x;
    border: #2196F3;
}

.svg-li {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}



.li-list {
    padding-top: 95px;
    padding-bottom: 95px;
    width: 1600px;
    height: 920px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.list-li {
    list-style-type: none;
    display: flex;
    margin: 0 215px;
    width: 1170px;
    padding-inline-start: 0;
    gap: 30px;
}


.subtitle {
font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: auto;
}

.li-li {
    width: 270px;
    height: 100px;
}

.text-li {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 14px 0 0;
    width: 270px;
    height: 75px;
    margin-right: 30px;
}

.list {
    list-style-type: none;
}

.section-li {
    height: 250px;
    margin-bottom: 95px;
}

.svg-svg {
    margin: 25px 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-img {
    width: 1170px;
    height: 390px;
}

.img-position {
    position: relative;
    max-height: 294px;
}

.text-position {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.text-img {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 27px 82px;
}

.text {
    font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #757575;
}

.caption {
    font-family: 'Roboto';
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin: 0 auto 50px;
}

.div-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-img {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-inline-start: 0;
    gap: 30px;

}

.div-users {
    padding: 95px 0;
    width: 1600px;
    margin: 0 auto;
    background-color: #F5F4FA;
}

.list-users {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 1170px;
    /* height: 370px; */
    margin: 0 auto;
}

.caption-user {
        font-family: 'Roboto';
            font-size: 36px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin: 0 auto 50px;
}

.user {
    font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #212121;
        margin: 30px auto 0;
        padding: 0 auto;
}

.user-link {
    font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #757575;
        margin: 10px auto 15px;
        padding: 0 auto;
}

.user-card {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    background-color: #FFFFFF;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.svg-link {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-links {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0 auto;
}

.li-svg-links {
    padding: 12px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-svg-links:hover,
.li-svg-links:focus {
    background-color: #2196F3;

}

.li-svg-links:hover .svg-link,
.li-svg-links:focus .svg-link {
    fill: #FFFFFF;
}

.users {
    background-color: #F5F4FA;
}

.section-clients {
    width: 1600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 95px 0;
}

.h-clients {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
    margin-bottom: 50px;
}

.svg-clients {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
}

.svg-client {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-clients:hover,
.li-clients:focus {
    border-color: #2196F3;
}

.li-clients:hover .svg-client,
.li-clients:focus .svg-client {
    fill: #2196F3;
}

.adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    max-width: 230px;
}

.contacts {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    max-width: 230px;
}


.headline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 25px 5px;
}

.heading-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 5px 25px 20px;
}

.div-footer {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    padding: 60px 0;
}

.div-logo {
    margin: 0 155px 20px 215px;
    max-width: 150px;
    display: inline-block;
}

.div-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 70px 0 215px;
    max-width: 230px;
}

.footer {
    background-color: #2F303A;
    width: 1600px;
    margin: 0 auto;
}

.contacts-footer {
    max-width: 210px;
    display: inline-block;
    max-height: 80px;
    margin-top: 12px;
}

.logo-contacts {
    display: flex;
    flex-direction: column;
}

.h-footer {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 20px;
}

.ul-footer {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    max-width: 206px;
}

.li-footer {
    border-radius: 50%;
    background-color: #fff 10%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-footer:hover,
.li-footer:focus {
    background-color: #2196F3;
}

.svg-footer {
    fill: #FFFFFF;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 530px;
    min-height: 580px;
    background-color: #fff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-color: #FFFFFF;
    border-radius: 50%;
    background-image: url(../images/close.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
    background-image: url(../images/close-blue.svg);
}




/* PORTFOLIO */

.portfolio-main-div {
    width: 1600px;
    margin: 0 auto;
    padding: 95px 0 95px;
    background-color: #FFFFFF;
}

.div-portfolio {
    width: 1170px;
    margin: 0 auto 95px;
}

.portfolio-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 610px;
    margin: 0 auto 35px;
    padding-inline-start: 0;
    padding-bottom: 15px;
}

.btn-list {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.btn-list:focus,
.btn-list:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-img-portfolio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-inline-start: 0;
    width: 1170px;
}

.portfolio-card {
    margin: 0;
    width: 371px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overflow-img {
    overflow: hidden;
    position: relative;
}


.text-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    pointer-events: none;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    padding: 63px 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* ФОРМА ФУТЕРА */

.form-footer {
    margin-left: 95px;
    margin-top: 12px;
}

.form-span-footer {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.input-footer {
    position: relative;
    margin-top: 35px;
    background-color: #2F303A;
    width: 360px;
    height: 50px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
    padding-left: 15px;
}

.input-footer::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.button-footer {
    width: 200px;
    display: inline-block;
    padding: 0;
    margin-left: 10px;
    background: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 30px;
    background-image: url(../images/icon-send.svg);
    background-repeat: no-repeat;
    background-position: 150px 50%;
    cursor: pointer;
}

.button-text {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 0;
}

.svg-form-footer {
    display: inline-block;
    margin-left: 10px;
    fill: #FFFFFF;
}




/* ПОРТФОЛИО КАРД */

.portfolio-card:hover .text-hover {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card:nth-child(3n+3) {
    margin-right: -30px;
}

.portfolio-card:nth-last-child(-n + 3) {
    margin-bottom: -30px;
}

.btn { 
    padding: 6px 22px;
}


/* ФОРМА МОДАЛКИ */

.form-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.h-modal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 40px 40px 0;
}

.label-modal {
    display: flex;
    flex-direction: column;
}

.span-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.input-modal {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 450px;
    height: 40px;
    padding-left: 42px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 450px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    text-align: top;
}

.label-checkbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-checkbox {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.text-checkbox-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}

.button-modal {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.button-text-modal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}


.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../images/not-check.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 8px;
    margin-top: 9px;
}

.check-input:checked + .checkbox {
    display: inline-block;
    background-image: url(../images/check.svg);
    background-position: 50% 0;
}

.input-name {
    background-image: url(../images/person.svg);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

.input-name:focus {
    background-image: url(../images/person-blue.svg);
    background-repeat: no-repeat;
    background-position: 12px 50%;
    outline: none;
    border: 1px solid #2196F3;
}

.input-tel {
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

.input-tel:focus {
    background-image: url(../images/phone-blue.svg);
    background-repeat: no-repeat;
    background-position: 12px 50%;
    outline: none;
    border: 1px solid #2196F3;
}

.input-mail {
    background-image: url(../images/email.svg);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

.input-mail:focus {
    background-image: url(../images/email-blue.svg);
    background-repeat: no-repeat;
    background-position: 12px 50%;
    outline: none;
    border: 1px solid #2196F3;
}

.textarea:focus {
    outline: none;
    border: 1px solid #2196F3;
}